@charset "UTF-8";

a.add {
	overflow: hidden;
	display: block;
	width: 70px;
	height: 30px;
	float: right;
	margin: 5px;
	background-image: url(images/add.gif);
	text-indent: -5000px;
}
table.list,table.sheet {
	clear: both;
	width: 99%;
}
table.list tr td {
	padding: 10px 5px 10px 5px;
	border-bottom: solid 1px #CCCCCC;
	font-size: 12px;
}
table.list tr td a {
	display: block;
	color: #333333;
}
table.list tr td input {
	float: left;
}

div#stat {
	display: none;
	margin: 5px;
	padding: 10px;
	border: solid 1px #CC0000;
	background-color: #FFCCCC;
	font-size: 12px;
	color: #FF0000;
}

table.sheet {
	width: 98%;
	margin: 0px 0px 0px 0px;
}
table.sheet tr th {
	width: 120px;
	padding: 10px 5px 15px 5px;
	border-top: solid 1px #CCCCCC;
	text-align: right;
	font-size: 12px;
	color: #000099;
}
table.sheet tr td {
	padding: 10px 5px 15px 5px;
	border-top: solid 1px #CCCCCC;
	font-size: 12px;
}
table.sheet tr td span {
	display: block;
	padding: 3px 0px 0px 0px;
	font-size: 12px;
	color: #666666;
}
input, select, textarea {	padding: 2px;}
input.data{	width: 450px;}
input.settingdata{	width: 50px;}
input#conditional_name {
	width: 250px;
	height: 16px!important;
	height/**/: 26px;
	padding: 5px;
	ime-mode: active;
}
input#mailaddress {
	height: 16px!important;
	height/**/: 26px;
	ime-mode: disabled;
}
input#subject {
	height: 16px!important;
	height/**/: 26px;
	padding: 5px;
	ime-mode: active;
}
textarea#body,textarea#note {
	width: 98%;
	height: 200px;
	padding: 5px;
	ime-mode: active;
}
select#hidden_selected_items {
	display: none;
}


/********************************************************/
/* å¬ï ê›íË                                             */
/********************************************************/
table.sheet tr td .caution {	color: #ff0000;}
table.sheet tr td .error_img {	display: inline;}
table.sheet tr .error_bg {	background: #ffeeee;}
